[Unit]
Description=Prevents Shutdown and Restart operations while an update is in progress.
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/update-lock
User=%u
Environment=HOME=%h

[Install]
WantedBy=halt.target reboot.target shutdown.target