*

!README*
!packages
!schema_*.json
!.gitignore
!.profile

!assets
!.config
!.local

!assets/**

!.local/bin
!.local/bin/checkupdates
!.local/bin/fetchmirrors
!.local/bin/record
!.local/bin/screenshot
!.local/bin/hyprpicker

!.config/checkupdates.json
!.config/ping.json

!.config/alacritty
!.config/alacritty/**

!.config/dunst
!.config/dunst/**

!.config/environment.d
!.config/environment.d/**

!.config/fastfetch
!.config/fastfetch/**

!.config/qt6ct
!.config/qt6ct/**

!.config/sway
!.config/sway/**

!.config/systemd
!.config/systemd/**

!.config/wlogout
!.config/wlogout/**

!.config/rofi
!.config/rofi/**

!.config/gtk-*
!.config/gtk-*/**

!.config/waybar
!.config/waybar/**
.config/waybar/.*

!.config/starship
!.config/starship/**

!.config/fish
!.config/fish/config.fish

!.config/xdg-desktop-portal
!.config/xdg-desktop-portal/**

!.config/VSCodium
!.config/VSCodium/User
!.config/VSCodium/product.json
!.config/VSCodium/User/settings.json

!.config/*-flags.*